@model OrdemServicoViewModel

@{
    ViewData["Title"] = "Ordem de serviço";
}

<h2>Cadastrar ordem de serviço</h2>
<hr />
<form asp-action="Create" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CodigoProtocolo" class="control-label"></label>
                <input asp-for="CodigoProtocolo" class="form-control" />
                <span asp-validation-for="CodigoProtocolo" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CodigoPedidoMedico" class="control-label"></label>
                <input asp-for="CodigoPedidoMedico" class="form-control" />
                <span asp-validation-for="CodigoPedidoMedico" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DataEmissao" class="control-label"></label>
                <input asp-for="DataEmissao" class="form-control" type="date" />
                <span asp-validation-for="DataEmissao" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DataPrevisaoEntrega" class="control-label"></label>
                <input asp-for="DataPrevisaoEntrega" class="form-control" type="date" />
                <span asp-validation-for="DataPrevisaoEntrega" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IdMedico" class="control-label"></label>
                <select asp-for="IdMedico" class="select2 select2-medico form-control" asp-items="ViewBag.MedicosSelectList">
                    <option></option>
                </select>
                <span asp-validation-for="IdMedico" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IdPostoColeta" class="control-label"></label>
                <select asp-for="IdPostoColeta" class="select2 select2-laboratorio form-control" asp-items="ViewBag.PostosColetasSelectList">
                    <option></option>
                </select>
                <span asp-validation-for="IdPostoColeta" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <select asp-for="IdPaciente" class="select2 select2-paciente form-control" asp-items="ViewBag.PacientesSelectList">
                    <option></option>
                </select>
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="NomeConvenio" class="control-label"></label>
                <input asp-for="NomeConvenio" class="form-control" placeholder="Informe o convênio do paciente" />
                <span asp-validation-for="NomeConvenio" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="IdsExames" class="control-label"></label>
                <select asp-for="IdsExames" class="select2 select2-exames form-control" id="IdsExames" name="IdsExames[]" multiple="multiple" asp-items="ViewBag.ExamesSelectList"></select>
                <span asp-validation-for="IdsExames" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-outline-info">Voltar</a>
    </div>
</form>