@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyLabSys</h1>
    <h3>Sistema de análises clínicas</h3>
    <p>Olá, seja bem vindo. Clique <a asp-controller="OrdemServico" asp-action="Create">aqui</a> para iniciar uma ordem de serviço.</p>
</div>