<div class="text-center">
    <h1 class="display-4"><i class="fas fa-flask"></i> MyLabSys</h1>
    <h3>Área do paciente</h3>
    <p>Olá, seja bem vindo à área do paciente. Clique <a asp-area="" asp-controller="ResultadosExames" asp-action="Index">aqui</a> para consultar os resultados dos exames.</p>
</div>