.select2-selection--single {
    min-height: 38px;
    padding-top: 4px;
}

.btn-pesquisar {
    height: 30px
}

.txt-codigo-protocolo-filtrar {
    width: 300px;
}

input#ValorTotalFormatado, input#DescricaoDescontoConvenio {
    font-size: 20px;
}