@model ResultadosExamesViewModel

@{
    ViewData["Title"] = "Resultados de exames";
}

<div class="wrapper fadeInDown">
    <div id="form-resultados-exames">
        <div class="fadeIn first">
            <h2><i class="fas fa-file-contract"></i> Resultados de exames</h2>
        </div>
        <form asp-action="ConsultarResultadosExames" autocomplete="off">
            <div class="alert alert-danger" role="alert" style="@(Model.UsuarioESenhaInvalidos ? "display: normal" : "display: none")">
                <i class="fas fa-exclamation-triangle"></i> Dados inválidos!
            </div>
            <input type="text" asp-for="Usuario" class="fadeIn second form-control" placeholder="Usuário" />
            <input type="password" asp-for="Senha" class="fadeIn third form-control" placeholder="Senha" />
            <button type="submit" class="btn-consultar-exames fadeIn fourth">
                <i class="fas fa-search"></i> Consultar
            </button>
        </form>
        <div id="footer-form-resultados-exames">
            <a class="underlineHover" href="#">Esqueceu a senha?</a>
        </div>
    </div>
</div>